.box label{
  background: #5f9;
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
 
.box input[type="checkbox"].on-off,
.box input[type="checkbox"].on-off +div{
  display: none;
}
 
.box input[type="checkbox"].on-off:checked +div{
  display: block;
}
 
.box div{
  margin: 0 0 20px;
}